@model checkpanel.Models.HistoryViewModel
@{
    ViewData["Title"] = "checkpanel";

    void PageNavigation(int CurrentPage, int TotalPages)
    {
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    @if (CurrentPage - 1 > 0)
                    {
                        <a class="page-link" href="@Url.Action("Index", "History", new { Page = CurrentPage - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    }
                    else
                    {
                        <a class="page-link" href="#">&laquo;</a>
                    }
                </li>
                <li class="page-item">
                    @if (CurrentPage - 2 > 0)
                    {
                        <a class="page-link" href="@Url.Action("Index", "History", new { Page = CurrentPage - 2 })">@(CurrentPage - 2)</a>
                    }
                    else
                    {
                        <a class="page-link" href="#">&nbsp;</a>
                    }
                </li>
                <li class="page-item">
                    @if (CurrentPage - 1 > 0)
                    {
                        <a class="page-link" href="@Url.Action("Index", "History", new { Page = CurrentPage - 1 })">@(CurrentPage - 1)</a>
                    }
                    else
                    {
                        <a class="page-link" href="#">&nbsp;</a>
                    }
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">@CurrentPage</a>
                </li>
                <li class="page-item">
                    @if (CurrentPage + 1 <= TotalPages)
                    {
                        <a class="page-link" href="@Url.Action("Index", "History", new { Page = CurrentPage + 1 })">@(CurrentPage + 1)</a>
                    }
                    else
                    {
                        <a class="page-link" href="#">&nbsp;</a>
                    }
                </li>
                <li class="page-item">
                    @if (CurrentPage + 2 <= TotalPages)
                    {
                        <a class="page-link" href="@Url.Action("Index", "History", new { Page = CurrentPage + 2 })">@(CurrentPage + 2)</a>
                    }
                    else
                    {
                        <a class="page-link" href="#">&nbsp;</a>
                    }
                </li>
                <li class="page-item">
                    @if (CurrentPage + 1 <= TotalPages)
                    {
                        <a class="page-link" href="@Url.Action("Index", "History", new { Page = CurrentPage + 1 })">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                    }
                    else
                    {
                        <a class="page-link" href="#">&raquo;</a>
                    }
                </li>
            </ul>
        </nav>
    }
}

@{ PageNavigation(Model.CurrentPage, Model.TotalPages); }
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Summary</th>
            <th scope="col">Detail</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Records)
        {
            <tr>
                <td>@item.RecordedAt</td>
                <td>@item.Summary</td>
                <td>@item.Detail</td>
                <td><button></button></td>
            </tr>
        }
    </tbody>
</table>
@{ PageNavigation(Model.CurrentPage, Model.TotalPages); }
