@model checkpanel.Models.ListViewModel
@{
    ViewData["Title"] = "checkpanel";
}

<div style="font-size: 1.2em;">
    <div class="text-center" style="background: rgba(0, 0, 0, 0.3); padding: 16px;">
        <h1>@DateTime.Now.DayOfWeek</h1>
        <div style="margin-top: 8px; border-top: 1px solid black; padding-top: 8px; color: #666; ">
            <strong>@DateTime.Now.ToString("H:mm")</strong>
        </div>
    </div>
    @foreach ((ItemModel item, PunchModel punch, DateTime due) in Model.ListSet)
    {
    <div class="form-check p-4" style="background-color: rgba(128, 128, 128, @(due.CompareTo(DateTime.Now) > 0 ? (due.AddHours(-1).CompareTo(DateTime.Now) > 0 ? "0" : "0.2") : "0.1"));">
        <form method="post" action="@Url.Action("PunchItem", "List", new { id = item.Id })">
            <div>
                <div style="float: left; margin-top: 12px;">
                @if (punch != null)
                {
                <button href="#" class="btn btn-success mx-3" style="font-weight: bold;" disabled>✓</button>
                }
                else
                {
                <button type="submit" class="btn btn-danger mx-3 mb-6" style="font-weight: bold;" @(due.CompareTo(DateTime.Now) > 0 ? "" : "disabled")>✗</button>
                }
                </div>
                <div style="float: left; top: 0; bottom: 0;">
                    <div style="font-size: 0.6em; color: @(punch != null ? "#6A6" : (due.AddHours(-1).CompareTo(DateTime.Now) > 0 ? "#888" : "#A22")); font-variant-caps: 'all-small-caps'">
                        @(punch != null ? "Complete" : $"Due at {item.DueHour}:{@item.DueMinute.ToString("00")}")
                    </div>
                    <div style="color: @(punch != null ? "#777" : (due.CompareTo(DateTime.Now) > 0 ? "#EEE" : "#A22"))">
                        @item.Summary
                    </div>
                    <div style="font-size: 0.7em; color: @(punch != null ? "#666" : (due.CompareTo(DateTime.Now) > 0 ? "#AAA" : "#A22"))">
                        @(punch != null ? $"Punched at {punch.CreatedAt}" : (due.CompareTo(DateTime.Now) > 0 ? "Not Punched" : "Missed Punch"))
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div style="margin-top: 4px; border-top: 1px solid black; text-align: center; font-size: 0.7em; color: @(punch != null ? "#666" : "#AAA")">
                @{
                    if (item.Sunday == true && item.Monday == true && item.Tuesday == true && item.Wednesday == true && item.Thursday == true && item.Friday == true && item.Saturday == true)
                    {
                        <text>All </text>
                    }
                    else if (item.Sunday == false && item.Monday == true && item.Tuesday == true && item.Wednesday == true && item.Thursday == true && item.Friday == true && item.Saturday == false)
                    {
                        <text>Weekdays </text>
                    }
                    else if (item.Sunday == true && item.Monday == false && item.Tuesday == false && item.Wednesday == false && item.Thursday == false && item.Friday == false && item.Saturday == true)
                    {
                        <text>Weekends </text>
                    }
                    else
                    {
                        if (item.Sunday == true)
                        {
                            <text>Sun </text>
                        }
                        if (item.Monday == true)
                        {
                            <text>Mon </text>
                        }
                        if (item.Tuesday == true)
                        {
                            <text>Tue </text>
                        }
                        if (item.Wednesday == true)
                        {
                            <text>Wed </text>
                        }
                        if (item.Thursday == true)
                        {
                            <text>Thu </text>
                        }
                        if (item.Friday == true)
                        {
                            <text>Fri </text>
                        }
                        if (item.Saturday == true)
                        {
                            <text>Sat </text>
                        }
                    }
                }
                </div>
            </div>
        </form>
    </div>
    }
</div>
